* {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  min-width: 768px;
  margin: 0 auto;
}

.forum-regular {
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
}

.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

header {
  position: relative;
  height: 90px;
  background-color: #0C0C0E;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
}
header .hamburger {
  display: none;
}
header .mobile-menu {
  display: none;
}
header .name-text {
  color: #FFFFFF;
  text-decoration: none;
  letter-spacing: 0.02em;
  padding-right: 20px;
  font-family: "Forum", sans-serif;
  font-size: 30px;
  font-weight: 400;
}
header .menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
header .profile-Menu {
  display: flex;
  align-items: center;
}
header .profile-dropMenu {
  position: absolute;
  width: 80px;
  height: 115px;
  background-color: #FFFFFF;
  transition: all 0.7s ease-in-out;
  z-index: 4;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  top: -500%;
  position: absolute;
  right: 20px;
}
header .profile-dropMenu hr {
  width: 40px;
  border: 1px solid #BB945F;
}
header .profile-dropMenu span {
  font-weight: 700;
}
header .logLinks-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}
header .logLinks-wrapper .profile-logIn:hover, header .logLinks-wrapper .profile-reg:hover, header .logLinks-wrapper .profile-LogOut:hover, header .logLinks-wrapper .profile-myProf:hover {
  cursor: pointer;
  color: #BB945F;
}
header .profile-dropMenu.open {
  top: 90%;
  z-index: 4;
  position: absolute;
}
header .profile-dropMenu.open .profile-menuAuth {
  display: none;
}
header .profile-noAuthIcon {
  position: relative;
  z-index: 3;
  cursor: pointer;
}
header .profile-menuNoAuth {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
header .profile-menuAuth, header ._visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
header .menu {
  font-family: "Inter", sans-serif;
  margin: 0;
  list-style-type: none;
  gap: 30px;
  display: flex;
  align-items: center;
}
header .menu_link {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 300;
  font-size: 20px;
  line-height: 250%;
}
header .menu_link:hover {
  text-decoration: none;
  color: #BB945F;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(10, 10, 12, 0.5);
}

.modal-overlay.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 1001;
  display: none;
  line-height: 133%;
  letter-spacing: 0.02em;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  font-color: #000000;
}
.modal .close {
  position: absolute;
  right: 15px;
  cursor: pointer;
}
.modal h2 {
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-color: #000000;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
}
.modal form {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.modal form input {
  border: 1px solid #BB945F;
  width: 200px;
  height: 20px;
}
.modal button {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #0C0C0E;
  border: 1px solid #0C0C0E;
  border-radius: 2px;
  width: 75px;
  height: 30px;
  cursor: pointer;
  margin-top: 15px;
}
.modal h5 {
  font-size: 10px;
}
.modal .login-link,
.modal .register-link {
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 0.1em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #0C0C0E;
  cursor: pointer;
}

.modal-content-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 262px;
  background-color: #FFFFFF;
  padding: 10px;
}

.modal-content-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  width: 250px;
  height: 382px;
  padding: 10px;
}

.myProfile-card {
  width: 600px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  line-height: 133%;
  letter-spacing: 0.02em;
  font-family: "Inter", sans-serif;
  background-color: #FFFFFF;
  display: none;
}
.myProfile-card .close {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  z-index: 1000;
}
.myProfile-card .userProfile {
  width: 170px;
  height: 400px;
  background-color: #0C0C0E;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
}

.myProfile-info {
  position: relative;
  right: -170px;
  width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}
.myProfile-info h2 {
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 50%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
}

.myProfile-visits, .myProfile-bonuses, .myProfile-books {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  text-align: center;
  color: #000000;
}
.myProfile-visits span, .myProfile-bonuses span, .myProfile-books span {
  font-size: 10px;
}

.userCounter-wrapper {
  display: flex;
  gap: 20px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  text-align: center;
  color: #000000;
}

.myProfile-rented ul {
  list-style: initial;
  margin: 30px 0px 0px 40px;
}
.myProfile-rented h3 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 80%;
  color: #0C0C0E;
}

.myProfile-cardNumber {
  display: flex;
  gap: 15px;
}
.myProfile-cardNumber span {
  color: #BB945F;
}
.myProfile-cardNumber img {
  cursor: pointer;
}

@media (max-width: 768px) {
  header .menu {
    display: none;
  }
  header .menu-container {
    flex-direction: row-reverse;
    gap: 40px;
  }
  header .hamburger {
    display: block;
    position: relative;
    z-index: 4;
    display: flex;
    width: 45px;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
  }
  header .hamburger .menu_line {
    display: block;
    background-color: #FFFFFF;
    width: 100%;
    height: 2px;
    transition: all 0.5s ease-in-out;
  }
  header .hamburger .active-line-1 {
    transform: translateX(3px) translateY(11px) rotate(45deg);
  }
  header .hamburger .active-line-2 {
    transform: translateX(100px);
    opacity: 0;
  }
  header .hamburger .active-line-3 {
    transform: translateX(2px) translateY(-13px) rotate(-45deg);
  }
  header .mobile-menu {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 3;
    width: 332px;
    height: 570px;
    background-color: #0C0C0E;
    transition: all 0.5s ease-in-out;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 350%;
  }
  header .mobile-menu.active {
    left: 434px;
    position: absolute;
  }
  header .link-container-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header .profile-dropMenu {
    right: 10%;
  }
  header .profile-dropMenu.open {
    right: 10%;
  }
}
.welcome {
  min-height: 600px;
  background: url("../img/welcome_bg.jpg") center center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.welcome .welcome-overlay {
  background: url("../img/overlay.png");
  min-height: 300px;
}
.welcome .welcome-text {
  width: 600px;
  height: 220px;
  background-color: #0C0C0E;
  padding: 33px 110px 40px 115px;
  margin-top: -80px;
}
.welcome .welcome-text h1 {
  font-family: "Forum", sans-serif;
  font-weight: 200;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  line-height: 125%;
  letter-spacing: 0.07em;
}

.about {
  background-color: #FFFFFF;
  min-height: 837px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.about h2 {
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #0C0C0E;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}
.about-text {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 200%;
  text-align: center;
  color: #000000;
  margin-top: 30px;
}
.about hr {
  width: 50px;
  border: 1px solid #0C0C0E;
  margin-top: 30px;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper .buttons {
  display: none;
}

.carousel {
  margin-top: 20px;
  position: relative;
  width: 1400px;
  overflow: hidden;
}
.carousel .carousel-inner {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  align-items: flex-end;
  flex-direction: row;
  transition: transform 0.5s;
}
.carousel .slide {
  position: relative;
  transition: right 0.5s ease;
}
.carousel .carousel-dots {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.carousel .carousel-dots button:nth-child(4),
.carousel .carousel-dots button:nth-child(5) {
  display: none;
}
.carousel .carousel-dots .slide-dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #0C0C0E;
  border: none;
  cursor: pointer;
}
.carousel .carousel-dots .slide-dot.active {
  background-color: #BB945F;
}

@media (max-width: 768px) {
  .about {
    min-height: 862px;
  }
  .wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .wrapper .buttons {
    display: flex;
    position: absolute;
    top: 45%;
    width: 90%;
    justify-content: space-between;
  }
  .wrapper .buttons #prev, .wrapper .buttons #next {
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    background: transparent;
  }
  .wrapper .buttons #prev {
    background: url("/icons/Carret_Left.png") no-repeat;
  }
  .wrapper .buttons #next {
    background: url("/icons/Carret_Right.png") no-repeat;
  }
  .carousel {
    width: 465px;
  }
  .carousel .carousel-inner {
    margin-left: 0;
    display: flex;
    flex-direction: row;
  }
  .carousel .carousel-dots {
    margin-top: 25px;
  }
  .carousel .carousel-dots button:nth-child(4),
  .carousel .carousel-dots button:nth-child(5) {
    display: block;
  }
  .carousel .slide:nth-child(2),
  .carousel .slide:nth-child(3),
  .carousel .slide:nth-child(4),
  .carousel .slide:nth-child(5) {
    display: block;
  }
}
/* @keyframes next1 {
	from {
		left: 0%
	}
	to {
		left: -100%;
	}
}

@keyframes next2 {
	from {
		left: 100%
	}
	to {
		left: 0%;
	}
}

@keyframes prev1 {
	from {
		left: 0%
	}
	to {
		left: 100%;
	}
}

@keyframes prev2 {
	from {
		left: -100%
	}
	to {
		left: 0%;
	}
} */
.favorites {
  background-color: #FFFFFF;
  max-height: 1440px;
  text-align: center;
  padding: 20px;
}
.favorites h2 {
  font-family: "Forum", sans-serif;
  font-size: 40px;
  color: #0C0C0E;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}
.favorites-text {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: start;
  color: #000000;
  margin-bottom: 40px;
}
.favorites hr {
  width: 50px;
  border: 1px solid #0C0C0E;
  margin-top: 30px;
}

.radio-container {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  text-align: start;
  color: #000000;
  margin-bottom: 30px;
  position: sticky;
  top: 0;
  background-color: #FFFFFF;
  z-index: 100;
}

input[type=radio] {
  margin-right: 20px;
  appearance: none;
  border: 2px solid #000000;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: relative;
}
input[type=radio]:checked + label {
  font-weight: bold;
}
input[type=radio]:checked::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
}

.radio-box {
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 100px;
  height: 100px;
}
.radio-box legend {
  margin-bottom: 40px;
  font-weight: bold;
}

.book-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  column-gap: 200px;
  row-gap: 40px;
}
.book-cards .hidden {
  display: none;
}

.card {
  width: 555px;
  height: 555px;
  border: solid 1px #000000;
  padding: 15px;
  transition: opacity 1s ease;
  pointer-events: auto;
  opacity: 0;
}
.card.active {
  opacity: 1;
  transition: opacity 1s ease;
}
.card img {
  width: 200px;
  height: 300px;
  position: relative;
  left: 217px;
  bottom: 287px;
}

.card-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 20px;
}
.card-info h3 {
  font-family: "Forum", sans-serif;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #000000;
  text-align: left;
}
.card-info h4 {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 267%;
  letter-spacing: 0.13em;
  text-align: left;
  color: #000000;
}
.card-info p {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 267%;
  letter-spacing: 0.13em;
  text-transform: capitalize;
  text-align: left;
  color: #000000;
  height: 320px;
  width: 355px;
}
.card-info hr {
  width: 60px;
  border: 1px solid #BB945F;
  position: relative;
  margin: -25px 0px 0px 0px;
}
.card-info .card-button {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: bold;
  width: 75px;
  height: 30px;
  border: 1px solid #000000;
  color: #000000;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .favorites {
    max-height: 2630px;
  }
  .book-cards {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .radio-box {
    gap: 0;
    justify-content: space-between;
  }
}
.shop {
  max-height: 841px;
  background-color: #FFFFFF;
  text-align: center;
  margin-top: 30px;
  padding: 20px;
}
.shop h2 {
  font-family: "Forum", sans-serif;
  font-size: 40px;
  color: #0C0C0E;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}
.shop hr {
  width: 50px;
  border: 1px solid #0C0C0E;
  margin-top: 30px;
}
.shop .shop-descr p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: 0.1em;
  margin-top: 30px;
  text-align: center;
  color: #000000;
}

.prices {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  justify-content: space-between;
  margin-top: 40px;
}
.prices h3 {
  font-family: "Forum", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #BB945F;
  text-align: start;
}
.prices p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: 0.1em;
  color: #000000;
}
.prices hr {
  border: 1px solid #BB945F;
  width: 100px;
  height: 0px;
  margin: 3px 65px 0 auto;
}
.prices .prices-drinks {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 438px;
}

.prices-desserts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
  width: 482px;
}
.prices-desserts h3 {
  text-align: end;
}
.prices-desserts .price {
  gap: 40px;
}
.prices-desserts hr {
  border: 1px solid #BB945F;
  width: 100px;
  height: 0px;
  margin: 3px 30px 0 auto;
}

.price {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media (max-width: 768px) {
  .shop {
    max-height: 1481px;
  }
  .prices {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
  .prices-desserts {
    width: auto;
  }
}
.contacts {
  max-height: 575px;
  background-color: #FFFFFF;
  text-align: center;
  margin-top: 55px;
  padding: 20px;
}
.contacts h2 {
  font-family: "Forum", sans-serif;
  font-size: 40px;
  color: #0C0C0E;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}
.contacts hr {
  width: 50px;
  border: 1px solid #0C0C0E;
  margin-top: 30px;
}

.contacts-info {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.text-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: 200%;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #000000;
}
.text-info h3 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 200%;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #000000;
  text-align: left;
}

.phone-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.staff-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.staff-info span {
  font-weight: 400;
}

@media (max-width: 768px) {
  .contacts {
    max-height: 1055px;
  }
  .contacts-info {
    flex-direction: column;
  }
  .contacts-info iframe {
    margin-top: 100px;
  }
}
.librarycard {
  max-height: 614px;
  background-color: #FFFFFF;
  text-align: center;
  margin-top: 50px;
  padding: 20px;
}
.librarycard h2 {
  font-family: "Forum", sans-serif;
  font-size: 40px;
  color: #0C0C0E;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}
.librarycard hr {
  width: 50px;
  border: 1px solid #0C0C0E;
  margin-top: 30px;
}

.library-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.find-card h3 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  color: #000000;
  letter-spacing: 0.02em;
}

.card-form {
  width: 600px;
  height: 386px;
  border: 3px solid #BB945F;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 30px;
  padding: 20px;
}
.card-form .card-form-wrapper {
  background-color: #BB945F;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 22px;
  font-family: "Forum", sans-serif;
  font-size: 30px;
  line-height: 167%;
  letter-spacing: 0.02em;
  color: #000000;
}
.card-form .card-form-wrapper p {
  text-align: left;
  padding: 25px;
}
.card-form .card-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 560px;
}
.card-form .card-input-field {
  border-radius: 10px;
  border: none;
  width: 520px;
  height: 66px;
  padding: 20px;
  font-family: "Forum", sans-serif;
  font-size: 30px;
  line-height: 167%;
  letter-spacing: 0.02em;
}
.card-form .card-submit-button {
  border: 1px solid #0C0C0E;
  border-radius: 2px;
  padding: 10px 40px;
  width: 242px;
  height: 44px;
  cursor: pointer;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  color: #0C0C0E;
}

.get-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
}
.get-card .get-title {
  font-family: "Forum", sans-serif;
  font-size: 35px;
  letter-spacing: 0.02em;
  color: #000000;
}
.get-card .get-text {
  width: 456px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #000000;
  text-align: right;
  line-height: 200%;
}

.get-buttons {
  display: flex;
  gap: 30px;
}
.get-buttons button {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #0C0C0E;
  border: 1px solid #0C0C0E;
  border-radius: 2px;
  width: 75px;
  height: 30px;
  cursor: pointer;
}

.get-card-profile {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
}
.get-card-profile .get-title {
  font-family: "Forum", sans-serif;
  font-size: 35px;
  letter-spacing: 0.02em;
  color: #000000;
}
.get-card-profile .get-text {
  width: 456px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #000000;
  text-align: right;
  line-height: 200%;
}

@media (max-width: 768px) {
  .librarycard {
    max-height: 857px;
  }
  .library-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .get-card, .get-card-profile {
    align-items: center;
    margin-top: 30px;
  }
  .get-card .get-text, .get-card-profile .get-text {
    text-align: center;
    width: 600px;
  }
}
footer {
  height: 250px;
  background-color: #0C0C0E;
  margin-top: 50px;
  padding: 20px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #FFFFFF;
  line-height: 133%;
  gap: 10px;
}
.footer-wrapper hr {
  border: 1px solid #FFFFFF;
  width: 100%;
  height: 0px;
  margin-top: 20px;
}
.footer-wrapper .frame-top {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.footer-wrapper .frame-top span {
  text-align: end;
}
.footer-wrapper .frame-bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.footer-wrapper .frame-bottom span {
  text-align: end;
}
.footer-wrapper .frame-bottom .social-media {
  display: flex;
  justify-content: space-between;
  width: 102px;
  height: 24px;
}
.footer-wrapper .footer-rss {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.1em;
  margin-top: 30px;
}