* {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  min-width: 768px;
  margin: 0 auto;
}

.forum-regular {
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
}

.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

header {
  position: relative;
  height: 90px;
  background-color: #0C0C0E;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
}
header .hamburger {
  display: none;
}
header .name-text {
  color: #FFFFFF;
  text-decoration: none;
  letter-spacing: 0.02em;
  font-family: "Forum", sans-serif;
  font-size: 30px;
  font-weight: 400;
}
header .menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
header .menu {
  font-family: "Inter", sans-serif;
  margin: 0;
  list-style-type: none;
  gap: 30px;
  display: flex;
}
header .menu_link {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 300;
  font-size: 20px;
  line-height: 250%;
}
header .menu_link:hover {
  text-decoration: none;
  color: #BB945F;
}

.welcome {
  min-height: 600px;
  background: url("/img/welcome_bg.jpg") center center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.welcome .welcome-overlay {
  background: url("/img/overlay.png");
  min-height: 300px;
}
.welcome .welcome-text {
  width: 600px;
  height: 220px;
  background-color: #000000;
  padding: 33px 110px 40px 115px;
  margin-top: -80px;
}
.welcome .welcome-text h1 {
  font-family: "Forum", sans-serif;
  font-weight: 200;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  line-height: 125%;
  letter-spacing: 0.07em;
}

.about {
  background-color: #FFFFFF;
  min-height: 837px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.about h2 {
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #0C0C0E;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}
.about-text {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 200%;
  text-align: center;
  color: #000000;
}
.about hr {
  width: 50px;
  height: 1px;
  background: #0C0C0E;
  margin-top: 30px;
}

.carousel {
  padding: 20px 0;
}
.carousel .carousel-inner {
  position: relative;
  margin: 0 auto;
  display: flex;
  gap: 25px;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.carousel .carousel-pagination {
  margin-top: 15px;
}
.carousel .slide-pagination {
  display: inline-block;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: #0C0C0E;
}
.carousel .slide-pagination:hover {
  background-color: #BB945F;
  cursor: pointer;
}

.favorites {
  background-color: #FFFFFF;
  max-height: 1440px;
  text-align: center;
  margin-top: 10px;
}
.favorites h2 {
  font-family: "Forum", sans-serif;
  font-size: 40px;
  color: #0C0C0E;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}
.favorites-text {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: start;
  color: #000000;
  margin-bottom: 40px;
}
.favorites hr {
  width: 50px;
  height: 1px;
  background: #0C0C0E;
  margin-top: 30px;
}

.radio-container {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  text-align: start;
  color: #000000;
  margin-bottom: 40px;
}

input[type=radio] {
  margin-right: 20px;
  appearance: none;
  border: 2px solid #000000;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: relative;
}
input[type=radio]:checked + label {
  font-weight: bold;
}
input[type=radio]:checked::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
}

.radio-box {
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 100px;
}
.radio-box legend {
  margin-bottom: 40px;
  font-weight: bold;
}

.book-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  column-gap: 260px;
  row-gap: 40px;
}

.card {
  width: 555px;
  height: 555px;
  border: solid 1px #000000;
  padding: 15px;
}
.card img {
  width: 200px;
  height: 300px;
  position: relative;
  left: 217px;
  bottom: 287px;
}

.card-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 20px;
}
.card-info h3 {
  font-family: "Forum", sans-serif;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #000000;
  text-align: left;
}
.card-info h4 {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 267%;
  letter-spacing: 0.13em;
  text-align: left;
  color: #000000;
}
.card-info p {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 267%;
  letter-spacing: 0.13em;
  text-transform: capitalize;
  text-align: left;
  color: #000000;
  height: 320px;
  width: 355px;
}
.card-info hr {
  border: none;
  height: 1px;
  background-color: #BB945F;
  position: relative;
  width: 60px;
  margin: -25px 0px 0px 0px;
}
.card-info .card-button {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: bold;
  width: 75px;
  height: 30px;
  border: 1px solid #000000;
  color: #000000;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-align: center;
  cursor: pointer;
}

.shop {
  max-height: 841px;
  background-color: #FFFFFF;
  text-align: center;
  margin-top: 70px;
}
.shop h2 {
  font-family: "Forum", sans-serif;
  font-size: 40px;
  color: #0C0C0E;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}
.shop hr {
  width: 50px;
  height: 1px;
  background: #0C0C0E;
  margin-top: 30px;
}
.shop .shop-descr p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: 0.1em;
  margin-top: 30px;
  text-align: center;
  color: #000000;
}

.prices {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  justify-content: space-between;
  margin-top: 40px;
}
.prices h3 {
  font-family: "Forum", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #BB945F;
}
.prices p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: 0.1em;
  color: #000000;
}
.prices hr {
  border: 1px solid #BB945F;
  width: 100px;
  height: 0px;
  margin-right: 60px;
}
.prices .prices-drinks {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.prices .prices-desserts {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.price {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.contacts {
  max-height: 575px;
  background-color: #FFFFFF;
  text-align: center;
  margin-top: 70px;
}
.contacts h2 {
  font-family: "Forum", sans-serif;
  font-size: 40px;
  color: #0C0C0E;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}
.contacts hr {
  width: 50px;
  height: 1px;
  background: #0C0C0E;
  margin-top: 30px;
}

.contacts-info {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.text-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: 200%;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #000000;
}
.text-info h3 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 200%;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #000000;
  text-align: left;
}

.phone-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.staff-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.staff-info span {
  font-weight: 400;
}

.lybrarycard {
  max-height: 614px;
  background-color: #FFFFFF;
  text-align: center;
  margin-top: 70px;
  padding: 0 20px;
}
.lybrarycard h2 {
  font-family: "Forum", sans-serif;
  font-size: 40px;
  color: #0C0C0E;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}
.lybrarycard hr {
  width: 50px;
  height: 1px;
  background: #0C0C0E;
  margin-top: 30px;
}

.lybrary-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.find-card h3 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  color: #000000;
  letter-spacing: 0.02em;
}

.card-form {
  width: 600px;
  height: 386px;
  border: 3px solid #BB945F;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 30px;
  padding: 20px;
}
.card-form .card-form-wrapper {
  background-color: #BB945F;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 25px;
  font-family: "Forum", sans-serif;
  font-size: 30px;
  line-height: 167%;
  letter-spacing: 0.02em;
  color: #000000;
}
.card-form .card-form-wrapper p {
  text-align: left;
  padding: 25px;
}
.card-form .card-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 560px;
}
.card-form .card-input-field {
  border-radius: 10px;
  border: none;
  width: 520px;
  height: 66px;
  padding: 20px;
  font-family: "Forum", sans-serif;
  font-size: 30px;
  line-height: 167%;
  letter-spacing: 0.02em;
}
.card-form button {
  border: 1px solid #0C0C0E;
  border-radius: 2px;
  padding: 10px 40px;
  width: 242px;
  height: 44px;
  cursor: pointer;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

.get-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
}
.get-card .get-title {
  font-family: "Forum", sans-serif;
  font-size: 35px;
  letter-spacing: 0.02em;
  color: #000000;
}
.get-card .get-text {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #000000;
  text-align: right;
  line-height: 200%;
}

.get-buttons {
  display: flex;
  gap: 30px;
}
.get-buttons button {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #0c0c0e;
  border: 1px solid #0C0C0E;
  border-radius: 2px;
  width: 75px;
  height: 30px;
  cursor: pointer;
}

footer {
  height: 250px;
  background-color: #0C0C0E;
  margin-top: 40px;
  padding: 20px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #FFFFFF;
  line-height: 133%;
  gap: 10px;
}
.footer-wrapper hr {
  border: 1px solid #FFFFFF;
  width: 1400px;
  height: 0px;
  margin-top: 20px;
}
.footer-wrapper .frame-top {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.footer-wrapper .frame-top span {
  text-align: end;
}
.footer-wrapper .frame-bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.footer-wrapper .frame-bottom span {
  text-align: end;
}
.footer-wrapper .frame-bottom .social-media {
  display: flex;
  justify-content: space-between;
  width: 102px;
  height: 24px;
}
.footer-wrapper .footer-rss {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.1em;
  margin-top: 30px;
}