.favorites {
	background-color: $white-color;
	max-height: 1440px;
	text-align: center;
  
	h2 {
	  font: {
		family: $font-title;
		size: 40px;
	  }
	  color: $main-color;
	  line-height: 100%;
	  letter-spacing: 0.05em;
	  text-transform: capitalize;
	  margin-top: 20px;
	}
  
	&-text {
	  font: {
		family: $font-regular;
		weight: bold;;
		size: 20px;
	  }
	  text-align: start;
	  color: $black-color;
	  margin-bottom: 40px;
	}
  
	hr {
	  width: 50px;
	  height: 1px;
	  background: $main-color;
	  margin-top: 30px;
	}	
}

.radio-container {
	font: {
	  family: $font-regular;
	  size: 20px;
	}
	text-align: start;
	color: $black-color;
	margin-bottom: 40px;
  }

  
  input[type="radio"] {
	&:checked + label {
	  font-weight: bold;
	}
	margin-right: 20px;
	appearance: none;
	border: 2px solid $black-color;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	cursor: pointer;
	position: relative;
  
	&:checked::before {
	  content: "";
	  display: block;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  width: 8px;
	  height: 8px;
	  background-color: $black-color;
	  border-radius: 50%;
	}
  }


.radio-box {
	display: flex;
    align-items: center;
	margin-top: 30px;
    gap: 100px;
	legend {
		margin-bottom: 40px;
		font-weight: bold;
	}
}


.book-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    column-gap: 260px;
    row-gap: 40px;
}

.card {
	width: 555px;
	height: 555px;
	border: solid 1px $black-color;
	padding: 15px;


	img {
		width: 200px;
		height: 300px;
		position: relative;
		left: 217px;
		bottom: 287px;
	  }
}

.card-info {
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
	gap: 20px;

	h3 {
		font: {
		family: $font-title;
		size: 20px;
		}
		line-height: 200%;
		letter-spacing: 0.1em;
		text-transform: capitalize;
		color: $black-color;
		text-align: left;
	}

	h4 {
		font: {
			family: $font-regular;
	  		size: 15px;
			weight: bold;
		}
		line-height: 267%;
		letter-spacing: 0.13em;
		text-align: left;
		color: $black-color;
	}

	p {
		font: {
			family: $font-regular;
	  		size: 15px;
		}
		line-height: 267%;
		letter-spacing: 0.13em;
		text-transform: capitalize;
		text-align: left;
		color: $black-color;
		height: 320px;
		width: 355px;
	}



	hr {
		border: none;
		height: 1px;
		background-color: $brown-color;
		position: relative;
		width: 60px;
		margin: -25px 0px 0px 0px;
	}

	.card-button {
		font: {
			family: $font-regular;
	  		size: 10px;
			weight: bold;
		}
		width: 75px;
		height: 30px;
		border: 1px solid $black-color;
		color: $black-color;
		line-height: 12px;
		letter-spacing: 0.1em;
		text-align: center;
		cursor: pointer;
	}
}