.shop {
    max-height: 841px;
    background-color: $white-color;
	  text-align: center;
    h2 {
        font: {
          family: $font-title;
          size: 40px;
        }
        color: $main-color;
        line-height: 100%;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        margin-top: 70px;
      }
      hr {
        width: 50px;
        height: 1px;
        background: $main-color;
        margin-top: 30px;
      }	
      
      .shop-descr {
        p {
            font-family: $font-regular;
            font-size: 20px;
            line-height: 200%;
            letter-spacing: 0.1em;
            margin-top: 30px;
            text-align: center;
            color: $black-color;
            
        }
    }
}

.prices {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  justify-content: space-between;
  margin-top: 40px;

  h3 {
    font: {
      family: $font-title;
      size: 40px;
      weight: 400;
    }
    line-height: 100%;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: $brown-color;
  }

  p {
    font-family: $font-regular;
    font-size: 20px;
    line-height: 200%;
    letter-spacing: 0.1em;
    color: $black-color;
  }

  hr {
    border: 1px solid $brown-color;
    width: 100px;
    height: 0px;
    margin-right: 60px;
  }

  .prices-drinks {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .prices-desserts {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

}

.price {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

