.welcome {
	min-height: 600px;
	background: url('/img/welcome_bg.jpg') center (center / cover) no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
  
	.welcome-overlay {
	  background: url('/img/overlay.png');
	  min-height: 300px;
	}
  
	.welcome-text {
	  width: 600px;
	  height: 220px;
	  background-color: $main-color;
	  padding: 33px 110px 40px 115px;
	  margin-top: -80px;
  
	  h1 {
		font: {
		  family: $font-title;
		  weight: 200;
		  size: 40px;
		}
		text: {
		  transform: uppercase;
		  align: center;
		}
		color: $white-color;
		line-height: 125%;
		letter-spacing: 0.07em;
	  }
	}
  }

  